/* ruta.css */
#map {
    height: 650px;
    width: 100%;
    border: 5px solid rgb(0, 216, 0);
}

.current-location-icon {
    width: 80px;
    height: 80px;
    border: 2px solid #87ebeb; /* Celeste pastel */
    border-radius: 50%;
}

.current-location-icon .circle {
    width: 100%;
    height: 100%;
    background-color: blue; /* Celeste pastel */
    border-radius: 50%;
}

/* styles.css */
#labels {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
}

#labels label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Color de texto oscuro */
}

h1 {
    color: #87CEEB; /* Celeste pastel */
    text-align: center;
    font-size:50px;
}

body {
    background-color: #0498af; /* Azul claro pastel */
}
